<div class="container">
    <legend>Create Item</legend>
    <div class="mb-3">
        <label for="txtName" class="form-label">Name</label>
        <input type="text" class="form-control" id="txtName" [(ngModel)]="fruitForm.name">
    </div>
    <div class="mb-3">
        <label for="txtQuantity" class="form-label">Quantity</label>
        <input type="number" class="form-control" id="txtQuantity" [(ngModel)]="fruitForm.quantity">
    </div>
    <div class="mb-3">
        <label for="txtPrice" class="form-label">Price</label>
        <input type="number" class="form-control" id="txtPrice" [(ngModel)]="fruitForm.price">
    </div>
    <button class="btn btn-primary" (click)="update()">Update</button>
</div>